* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  width: 80vw;
  height: 90vh;
  background-color: yellow;
}

.team{
  width: 20vw;
  background-color: bisque;
}

.container {
  display: flex;
}

button {
  padding: 10px;
}

.dialogue-box{
  background-image: url("./dialogue-box.png");
  height: 150px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 8px;
  padding: 50px;
}

.footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aquamarine;
}