* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  width: 80vw;
  height: 90vh;
  background-color: rgba(245, 245, 184, 0.623);
  display: flex;
  justify-content: center;
}

.team{
  width: 20vw;
}

.fight-box{
  display: flex;
}

.fight-box-small img{
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
}

button {
  padding: 10px;
}

.dialogue-box{
  background-image: url("./dialogue-box.png");
  height: 150px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 8px;
  padding: 50px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.moves-box{
  border: black solid 1px;
}

.dialogue-box{
  max-width: 100%;
}

.fight-box-big{
  width: 100%;
  height: 100%;
  display: flex;
}

.fight-box-small{
  width: 100%;
  height: 100%;
  display: flex;
}

.team-card{
  background-image: url("./dialogue-box.png");
  height: calc(90vh / 6);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 15px;
}

.stage-box{
  background-image: url("./dialogue-box.png");
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 15px;
}

.footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./dialogue-box.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.healthbar-container-big{
  background-image: url("./dialogue-box.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 80px;
  display: flex;
  position: relative;
}

.healthbar-container-small{
  height: 9px;
  width: 67%;
  border: solid black 1px;
  border-radius: 33px;
  position: relative;
  bottom: 0;
  margin-top: 25px;
  margin-left: 10px;
}

.black-text{
  color: black;
}

.bag-carusel img{
  width: 50px;
  height: 50px;
}

.bag{
  border: 1px black solid
}

.green-bar{
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 33px;
}

.gray-bar{
    background-color: rgb(163, 163, 163);
    width: 100%;
    height: 100%;
}

.stage-box{
  display: flex;
  height: 50px;
  width: 150px;
}


.decoration {
  background-color: black;
  color: red;
  font-weight: 900;
  font-size: 8px;
  height: 9px;
  width: 20px;
  border-radius: 33px;
  margin-top: 25px;
  transform: translateX(-4px);
  display: flex;
  justify-content: center
}