* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  width: 80vw;
  height: 90vh;
  background-color: rgba(245, 245, 184, 0.623);
  display: flex;
  justify-content: center;
}



.team{
  width: 20vw;
  background-color: rgb(196, 255, 235);
}

.container {
  display: flex;
}

button {
  padding: 10px;
}

.dialogue-box{
  background-image: url("./dialogue-box.png");
  height: 150px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 8px;
  padding: 50px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.dialogue-box{
  max-width: 100%;
}

.fight-box{
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.team-card{
  background-image: url("./dialogue-box.png");
  height: calc(90vh / 6);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 15px;
}

.stage-box{
  background-image: url("./dialogue-box.png");
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 13px;
  padding: 15px;
}

.footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./dialogue-box.png");
  background-size: contain;
  background-repeat: no-repeat;
}